<!DOCTYPE html>
<html>

<head>
  <title>Термофлуктуационные константы</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="assets/reset.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/style.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="./leastSquares.js"></script>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <section class="content">
    <div id="rawPoints">
      <h2>Введите не менее 8 результатов испытаний</h2>
      
      
      <ol>
        <span><input v-model.number="tension" type="number" /> Напряжение,[МПа]</span>
        <br>
        <hr />
        <li v-for="(rawPoint, index) in rawPoints">
          <input v-model.number="rawPoint.time" type="number" /> Время,[c] 
          <button v-if="rawPoints.length > 8" v-on:click="removePoint(index)">X</button>
        </br></br>
        </li>
        <hr />
        <button v-on:click="addNewPoint">Добавить новую точку</button>
      </ol>
      <div class="processControl">
        <span>Выбранный уровень значимости q для критерия Граббса: <select v-model="selectGrabbs">
          <option >Свыше 1%</option>
          <option>Свыше 5%</option>
        </select></span>
        <span>Выбранная доверительная вероятность P для критерия Стьюдента: <select v-model="selectStudent">
          <option >0.95</option>
          <option>0.99</option>
        </select></span>
        <button v-on:click="processPoints">Обработать данные</button>
      </div>
      <div v-if="processed.array" class="results">
        <h2>Массив десятичных логарифмов:{{this.processed.array}}</h2>
        <h2>Среднее значение:{{this.processed.average}}</h2>
        <h2>S:{{this.processed.s}}</h2>
        <h2>G1:{{this.processed.g1}}</h2>
        <h2>G2:{{this.processed.g2}}</h2>
        <h2>Критерий Граббса:{{this.processed.grabbs}}</h2>
        </br>
        <h2 v-bind:class="processed.grabbsError ? 'error' : 'ok' ">{{processed.errorMessage}}</h2>
        <button v-if='processed.grabbsError' v-on:click="reDeleteErrors">Удалить ошибку</button>
        </br>
      </div>
      <div v-if='!processed.grabbsError && processed.array' class="results">
        <h2>Массив:{{this.student.array}}</h2>
        <h2>Среднее значение:{{this.student.average}}</h2>
        <h2>S:{{this.student.s}}</h2>
        <h2>Sx:{{this.student.sx}}</h2>
        <h2>Коэффициент Стьюдента:{{this.student.student}}</h2>
        <h2>Дельта:{{this.student.delta}}</h2>
        <h2>Интервал:{{this.student.range}}</h2>
        </br>
        <h1 class="warning" v-if='this.student.cutArray.length > 0'>Значение(ия) {{this.student.cutArray}} не лежит(ат) в доверительном интервале! Добавьте больше точек в выборку или подтвертите текущее значение.</h1>
        <button v-if='this.student.cutArray.length > 0' v-on:click="confirmPoint" v-bind:disabled="isComfirmed">Подтвердить точку</button>
        </div>
      </div>
    </div>
    <div id="pointsList">
      
      <ol>
        <li v-for="(point, index) in pointsList">
          <h2>lg = {{point.average}}</h2>
          <h3>Напряжение: {{point.tension}} МПа</h3>
          <button v-on:click="removePoint(index)">X</button>
        </li>
      </ol>
      <span v-if='pointsList.length > 0'><input  v-model.number="temperature" type="number" /> Температура T,[°C]</span>
      <span v-if='pointsList.length > 0'><input  v-model.number="maxTemperature" type="number" /> Температура существования Tm,[°C]</span>
      </br>
      <button v-if='pointsList.length > 4' v-on:click="getFunction();getCoefficients()">Получить уравнение прямой</button>
      <br>
      {{this.func}} <br>
      {{this.coefficients}} <br>
      <button v-if='pointsList.length > 4' v-on:click="drawGraph">Получить график</button>
    </div>
    <div id="dataviz_axisZoom"></div>
  </section>


  <script>
    let deleteErrors = function (array) {
            const grabbsTable1 = [null, null, null, 1.155, 1.496, 1.764, 1.973, 2.139, 2.274, 2.387, 2.482, 2.564,
              2.636
            ];
            const grabbsTable5 = [null, null, null, 1.155, 1.481, 1.715, 1.887, 2.02, 2.126, 2.215, 2.290, 2.355,
              2.412
            ];

            let average = array.reduce((a, b) => (a + b), 0) / array.length;

            let upper = array.map(item => {
              return Math.pow((item - average), 2)
            });
            let lower = array.length - 1;
            let s = Math.sqrt((upper.reduce((a, b) => (a + b), 0) / lower));

            let max = Math.max(...array);
            let min = Math.min(...array);
            let g1 = Math.abs(max - average) / s;
            let g2 = Math.abs(average - min) / s;

            let grabbsCriterion;
            if (rawPoints.selectGrabbs == "Свыше 1%") {
              grabbsCriterion = grabbsTable1[array.length];
            } else {
              grabbsCriterion = grabbsTable5[array.length];
            }

            let grabbsError = null;
            let errorMessage = `Грубых ошибок не обнаружено.`;
            if (g1 > grabbsCriterion) {
              grabbsError = "max";
              errorMessage = `Значение "${max.toFixed(2)}" является грубой ошибкой!`
            }
            if (g2 > grabbsCriterion) {
              grabbsError = "min";
              errorMessage = `Значение "${min.toFixed(2)}" является грубой ошибкой!`
            }

            return {
              'array': array,
              'average': average,
              's': s,
              "g1": g1,
              'g2': g2,
              'grabbs': grabbsCriterion,
              'grabbsError': grabbsError,
              'errorMessage': errorMessage,
            };
          }
          let findIntervals = function (givenArray) {
            let average = givenArray.reduce((a, b) => (a + b), 0) / givenArray.length;
            let upper = givenArray.map(item => {
              return Math.pow((item - average), 2)
            });
            let lower = givenArray.length - 1;
            let s = Math.sqrt((upper.reduce((a, b) => (a + b), 0) / lower));

            let sx = s / Math.sqrt(givenArray.length);

            const studentsTable95 = [null, null, null, 3.182, 2.776, 2.571, 2.447, 2.365, 2.306, 2.262, 2.228,
              2.228, 2.179
            ];
            const studentsTable99 = [null, null, null, 5.841, 4.604, 4.032, 3.707, 2.998, 3.355, 3.25, 3.169,
              3.169, 3.055
            ];
            let studentsTable;
            
            if (rawPoints.selectStudent == "0.95") {
              studentsTable = studentsTable95;
            } else {
              studentsTable = studentsTable99;
            }

            let delta = sx * studentsTable[lower];
            let range = String(average - delta) + '...' + String(average + delta);
            let cutArray = givenArray.filter((el)=>{
              return (el < average - delta) || (el > average + delta) 
            })
            return {
              'array': givenArray,
              'average': average,
              's': s,
              "sx": sx,
              'student': studentsTable[lower],
              'delta': delta,
              'range': range,
              'upper': upper,
              'cutArray': cutArray,
            };
          }

    var rawPoints = new Vue({
      el: "#rawPoints",
      data: {
        rawPoints: [{
          "time": 3
        }, {
          "time": 4
        }, {
          "time": 42
        }, {
          "time": 1
        }, {
          "time": 1
        }, {
          "time": 2
        }, {
          "time": 2
        }, {
          "time": 1
        }],
        tension: 7.82,
        processed: {
              'array': null,
              'average': null,
              's': null,
              "g1": null,
              'g2': null,
              'grabbs': null,
              'grabbsError': false,
            },
        intervals: 0,
        message:'',
        grabbsMessage:'',
        selectGrabbs: "Свыше 1%",
        selectStudent: "0.95",
        isComfirmed: false,
      },
      methods: {
        addNewPoint: function (event) {
          this.rawPoints.push({
            "time": 0
          });
        },
        processPoints: function (event) {
          this.isComfirmed = false;
          let arraySec = this.rawPoints.filter(item => {
            return item.time;
          }).map(item => {
            return item.time;
          });
          let arrayLog10 = arraySec.map(item => {
            return Number(Math.log10(item).toFixed(2));
          });

          let processedObject = deleteErrors(arrayLog10);
          this.processed = processedObject;

        },
        reDeleteErrors: function (event) {
          let array = this.processed.array;
          if (this.processed.grabbsError === 'max') {
            array = array.filter(item => item != Math.max(...array));
          } else {
            array = array.filter(item => item != Math.min(...array));
          }

          this.processed = deleteErrors(array);
        },
        confirmPoint: function (event) {
          this.isComfirmed = true;
          pointsList.pointsList.push(this.student);
        },
        removePoint: function (index) {
          this.rawPoints.splice(index,1);
        },
      },
      computed: {
        student: function () {
          if (!this.processed.array) {
            return null;
          }
          let newArray = this.processed.array.slice();
          let intervalObject = findIntervals(newArray);
          if (intervalObject.cutArray.length === 0) {
              intervalObject.tension = this.tension;
              pointsList.pointsList.push(intervalObject);
          }
          intervalObject.tension = this.tension;
          return intervalObject;
        }
      }
    });

    var pointsList = new Vue({
      el: '#pointsList',
      data: {
        pointsList: [
                   {'tension':7.82,'average':0.15},
                   {'tension':7.4,'average':0.3},
                   {'tension':7,'average':0.76},
                   {'tension':6.6,'average':0.86},
                   {'tension':6.2,'average':3}
                    ],
        func: null,
        temperature: null,
        maxTemperature: null,
        coefficients: null,
      },
      methods: {
        getFunction: function (event) {
          let tensions = this.pointsList.map(d => Number(d.tension));
          let times = this.pointsList.map(d => Number(d.average));
          let func = LeastSquares(tensions, times);
          this.func = func;
        },
        drawGraph: function (event) {
          drawGraph(this.pointsList);
        },
        removePoint: function (index) {
          this.pointsList.splice(index,1);
        },
        getCoefficients: function (event) {
          let c = this.func.m / (this.temperature - this.maxTemperature);
          let d = (-this.maxTemperature * this.func.m) / (this.temperature - this.maxTemperature);
          let k = this.func.b / (this.temperature - this.maxTemperature);
          let mu = (-this.maxTemperature * this.func.b) / (this.temperature - this.maxTemperature);
          this.coefficients = {
            'c': c,
            'd': d,
            'k': k,
            'mu': mu,
          };
        }
      }
    });


    let drawGraph = function (dataArray) {

      let margin = {
        top: 10,
        right: 30,
        bottom: 30,
        left: 60
      }; // отступ
      let width = 460 - margin.left - margin.right; // длина оси Y
      let height = 460 - margin.top - margin.bottom; // длина оси X


      let svg = d3.select('#dataviz_axisZoom')
        .append('svg')
        .attr('width', width + margin.left + margin.right)
        .attr('height', height + margin.top + margin.bottom)
        .append('g')
        .attr("transform",
          `translate(${margin.left},${margin.top})`);



      let scaleX = d3.scaleLinear().domain([4, 8]).range([0, width]);
      let xAxis = svg.append('g')
        .attr("transform", `translate(0,${height})`)
        .call(d3.axisBottom(scaleX));

      let scaleY = d3.scaleLinear().domain([0, 9]).range([height, 0]);
      let yAxis = svg.append('g').call(d3.axisLeft(scaleY));

      //Add a clipPath: everything out of this area will not be drawn
      let clip = svg.append('defs').append('SVG:clipPath')
        .attr('id', 'clip')
        .append('SVG:rect')
        .attr('width', width)
        .attr('height', height)
        .attr('x', 0)
        .attr('y', 0)


      // Create the scatter variable: where both the circles and the brush take place
      let scatter = svg.append('g')
        .attr('clip-path', 'url(#clip)')


      // add circles
      scatter
        .selectAll('circle')
        .data(dataArray)
        .enter()
        .append('circle')
        .attr('cx', d => scaleX(d.tension))
        .attr('cy', d => scaleY(d.average))
        .attr('r', 9)
        .style('fill', '#61a3a9')
        .style('opacity', 0.5);


      let func = LeastSquares(dataArray.map(d => d.tension), dataArray.map(d => d.average));

      let tooltip = d3.select("body")
        .append("div")
        .style("position", "absolute")
        .style("z-index", "10")
        .style("visibility", "hidden")
        .text("a simple tooltip");

      let line = scatter.append('g')
        .attr('class', 'lines')
        .append('line')
        .attr('id', 'circleBasicTooltip')
        .attr('stroke', 'black')
        .attr('stroke-width', 2)
        .attr("x1", scaleX(0))
        .attr("y1", scaleY(func.calculate(0)))
        .attr("x2", scaleX(d3.max(dataArray, d => d.tension)))
        .attr("y2", scaleY(func.calculate(d3.max(dataArray, d => d.tension))))
        .on("mouseover", function () {
          return tooltip.style("visibility", "visible").text(func.toString());
        })
        .on("mousemove", function () {
          return tooltip.style("top", (event.pageY - 10) + "px").style("left", (event.pageX + 10) + "px");
        })
        .on("mouseout", function () {
          return tooltip.style("visibility", "hidden");
        });

      // Set zoom and pan
      let zoom = d3.zoom()
        .scaleExtent([.5, 20])
        .extent([
          [0, 0],
          [width, height]
        ])
        .on('zoom', updateChart);

      // This add an invisible rect on top of the chart area. This rect can recover pointer events: necessary to understand when the user zoom
      svg.append("rect")
        .attr('width', width)
        .attr('height', height)
        .style('fill', 'none')
        .style('pointer-events', 'all')
        .lower();
      svg.call(zoom);

      function updateChart() {
        //gets new scales
        let newX = d3.event.transform.rescaleX(scaleX)
        let newY = d3.event.transform.rescaleY(scaleY)

        //refreshes axis
        xAxis.call(d3.axisBottom(newX));
        yAxis.call(d3.axisLeft(newY));

        //update circle pos
        scatter
          .selectAll('circle')
          .attr('cx', d => newX(d.tension))
          .attr('cy', d => newY(d.average))
        line
          .attr("x1", newX(0))
          .attr("y1", newY(func.calculate(0)))
          .attr("x2", newX(d3.max(dataArray, d => d.tension)))
          .attr("y2", newY(func.calculate(d3.max(dataArray, d => d.tension))))
      }
    }
    
  </script>
</body>

</html>